table{
    border-collapse: collapse;
    text-align: center;
    font-family: 'Noto Sans JP';
    margin: 30px 30px;
}

td{
    border: 1px black solid;
    font-size: 40px;
    padding: 20px 10px;
}

.s0{
    width: 100px;
}

.s1{
    width: 100px;
    border: none;
}

.s2{
    width: 100px;
    border-bottom: white;
}

.s3{
    width: 100px;
    border-top: white;
}

.s5{
    padding: 0 20px;
}

.s6{
    border-top: none;
}

.b0{
    background-color: rgb(213,213,213);
}

.en{
    font-family: 'Poppins';
}